
#desctip {
  position: absolute;
  padding: .5em;
  background: #fff;
  border: 1px solid #BFBFBF;
  font-family:arial,helvetica, sans-serif;
  font-size:12px;
  width:300px;
  line-height:1.4em;
  background:#555;
  color:#fff;
}
